{% load static %}
<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3 text-center">
            <img width="30%" src="{% static 'media/hospital-logo.png' %}" alt="">
            <h5 class="mt-2 mb-0">Bhitai Dental HMIS</h5>
        </a>
        <hr class="dropdown-divider w-100">
    
        <div class="navbar-nav w-100 small">
            <a href="index.html" class="nav-item nav-link active mb-1"><i class="fas fa-tooth me-2"></i>BDS - OPD</a>
            <a href="widget.html" class="nav-item nav-link"><i class="fas fa-money-check-alt me-2"></i>BDS-(OPD) Income</a>
            <a href="form.html" class="nav-item nav-link"><i class="fas fa-user-md me-2"></i>BDS-(OPD) Patients</a>          
        </div>
    </nav>
</div>
<!-- Sidebar End -->